* {
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
}

.flex-container-generic {
  display: flex;
  justify-content: space-between;
}

body.flex-container {
  flex-direction: column;
  justify-content: flex-start;
}

body {
  height: 100vw;
  margin: 0 auto;
}

/* HEADER */

.header .the-content {
  width: 1200px;
  justify-content: space-between;
  /* border: 2px solid red; */
}

.header {
  justify-content: space-around;
}

ul {
  list-style-type: none;
  gap: 10px;
  align-items: center;
}

/* HERO */

.hero-text-block {
  width: 40%;
  flex-direction: column;
  /* border: 2px solid red; */
}

.hero-picture {
  object-fit: cover;
  width: 50%;
  height: 250px;
  background-color: white;
  /* border: 2px solid red; */
}

.hero .the-content {
  justify-content: space-between;
  width: 1200px;
  /* border: 2px solid red; */
  margin: 100px 0;
}

.sign-up.hero-button {
  margin-top: 8px;
  width: 30%;
  height: 30px;
  /* border: 2px solid red; */
}

.text.hero-text {
  margin: 18px 0;
  /* border: 2px solid red; */
}

.hero {
  justify-content: center;
  /* border: 2px solid red; */
}

.hero-content {
  align-self: center;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 80%;
  margin: 100px;
  /* border: 2px solid red; */
}

/* ROCK EXAMPLES */

.example-img {
  height: 100px;
  width: 100px;
}

.rock-example {
  flex-direction: column;
}

.rock-examples {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* QUOTE */

.quote {
  justify-content: center;
  align-items: center;
}

.quote-box {
  width: 800px;
}

.quote-author {
  float: right;
}

/* FREE TRIAL */

.free-trial {
  justify-content: center;
  align-items: center;
}

.free-trial-box {
}

/* FOOTER */

.footer {
  justify-content: center;
  align-items: center;
}

.test1 {
  justify-self: flex-end;
}
