* {
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
}

body {
  height: 100vw;
  width: 60vw;
  margin: 0 auto;
}

/* HEADER */

.header {
  background-color: antiquewhite;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  gap: 10px;
  align-items: center;
}
