* {
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
}

body.flex-container {
  flex-direction: column;
  justify-content: flex-start;
}

body {
  height: 100vw;
  width: 1300px;
  margin: 0 auto;
}

/* HEADER */

.header {
  justify-content: space-between;
}

ul {
  list-style-type: none;
  gap: 10px;
  align-items: center;
}

/* HERO */

.hero {
  height: 200px;
  justify-content: center;
}

.hero-content {
  align-self: center;
  width: 80%;
  height: 80%;
}

.hero-text-block {
  flex-direction: column;
}

/* ROCK EXAMPLES */

.example-img {
  height: 100px;
  width: 100px;
}

.rock-example {
  flex-direction: column;
}

.rock-examples {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* QUOTE */

.quote {
  justify-content: center;
  align-items: center;
}

.quote-box {
  width: 800px;
}

.quote-author {
  float: right;
}

/* FREE TRIAL */

.free-trial {
  justify-content: center;
  align-items: center;
}

.free-trial-box {
}

/* FOOTER */

.footer {
  justify-content: center;
  align-items: center;
}

.test1 {
  justify-self: flex-end;
}
